<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UrlShortenerDbContainer" connectionString="metadata=res://*/UrlShortenerDb.csdl|res://*/UrlShortenerDb.ssdl|res://*/UrlShortenerDb.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=secret;database=shrtnr_db&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
